nav {
	background-color: #0D335D;
}

.nav-link {
	font-family: Adamina;
	color: #FFFFFF;
}


.nav-link:hover {
	color: black;
}

@media (min-width: 992px){
    .navbar li {
        margin-left : 30px;
        font-size: 20px;
    }

	.navbar-right {
		margin-right: 45px;
	}
}